.card {
    transition: transform 0.2s;
    cursor: pointer;
  }

  .card:hover {
    transform: scale(1.05);
  }


/* Add this CSS to hide the elements initially */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  


/* Add this CSS to hide the elements initially and define the animation */
.fade-in-alt {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease, transform 1s ease;
  }
  
  .fade-in-alt.active {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 200ms;
  }

  /* Add this CSS to hide the elements initially and define the animation */
.fade-in-delay {
  opacity: 0;
  filter: blur(4px);
  transform: translateY(30%);
  transition: opacity 1s ease, transform 1s ease;
  transition-delay: 200ms;
}

.fade-in-delay.active {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}



  /* Initial state: content hidden */
.content-hidden {
    opacity: 0;
    transform: translateY(20px); 
    transition: all 1s ease, transform 1s ease;
  }
  
  
/* Animated state: content visible */
.content-visible {
    opacity: 1;
    transform: translateY(0);
  }


/* Initial state: content hidden */
.fade-in-card {
    opacity: 0;
    transform: translateX(100%);
    filter: blur(3px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  /* Animated state: content visible */
  .fade-in-card.active {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0); 
  }

  

  /* Initial state: content hidden */
.fade-in-side {
    opacity: 0;
    filter: blur(4px);
    transform: translateX(-50%); 
    transition: opacity 1s linear, transform 1s linear;
  }
  
  .fade-in-side.active {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0); 
  }


  
  /* Inverse side animation */
.fade-in-side-alt {
  opacity: 0;
  filter: blur(4px);
  transform: translateX(20%); 
  transition: opacity 1s linear, transform 1s linear;
}

.fade-in-side-alt.active {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0); 
}


  