.home-outline-btn{
    padding: .8em 1.5em;
    border: .1rem solid #fff;
    color: #fff;
}

.home-outline-btn:hover{
    /* background-color: #333; */
    background: linear-gradient(rgba(155, 96, 28, 0.72), rgba(69, 12, 12, 0.62));
    border: .1rem solid #fff;
    color: #fff;
}

.home-outline-btn-inverse{
    padding: .5em 1em;
    background-color: #333;
    border: .1rem solid #fff;
    color: #fff;
}

.home-outline-btn-inverse:hover{
    background-color: #fff;
    border: .1rem solid #333;
    color: #333;
}