@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');



*, 
*::before,
*::after{
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
}

html{
    font-size: 100%; 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-width: 275px;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #fff;
}

h1{
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.2;
    font-family: 'Oswald', sans-serif;
}

h2, h3{
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
}

li{
    cursor: pointer;
}

p{
  font-size: .98rem;
}


.box-margin{
margin-bottom: 5rem;
}

img{
max-width: 100%;
height: auto;
display: block;
}

.line{
    border-color: #fff;
    }

.short-line{
    width: 70%;
}

.short-line-black{
    width: 100%;
    border-color: #333;
}

.margin-t{
    margin-top: 6rem;
}

.padding-t-b{
    padding: 6rem 0;
}

.box{
    min-height: 90vh;
  }

.box-1{
    min-height: 70vh;
}


.box-2{
    min-height: 100vh;
  }

.box-3{
    min-height: 50vh;
}

  .text-center-underline {
    text-decoration: underline;
  }









