/* .homepage {
    background-image: url(''); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
  } */

  .homepage {
    position: relative;
    padding-top: 80px;
  }

  .homepage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(155, 96, 28, 0.72), rgba(69, 12, 12, 0.5)), url('/images/first.jpg');
    background-size: cover;
    /* background-position: center center; */
    background-repeat: no-repeat;
    z-index: -1;
  }

  .homepage p{
    font-size: 1.2rem;
    font-weight: 500;
  }


  .homepage2 {
    position: relative;
    padding-top: 80px;
  }

  .homepage2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(155, 96, 28, 0.72), rgba(69, 12, 12, 0.5));
    background-size: cover;
    /* background-position: center center; */
    background-repeat: no-repeat;
    z-index: -1;
  }

  .homepage2 p{
    font-size: 1.2rem;
    font-weight: 500;
  }



  main.box {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 50px;
  }


  .second-container{
    color: #333;
  }

  .third-container {
    position: relative;
  }

  .third-container:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.881), rgba(223, 215, 215, 0.743)),  url('/images/IMG-20231004-WA0007.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
  }
  


  /* .third-container{
    background-image: url('/images/IMG-20231004-WA0008.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
   
  } */

  .third-container h2{
    /* background: linear-gradient(rgba(155, 96, 28, 0.72), rgba(69, 12, 12, 0.5));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; */
    color: #333;
    font-weight: 600;
    font-size: 3rem;
    position: relative;
    z-index: 1;
    padding-top: 6rem;
  }

  .fourth-container{
    position: relative;
    background-image:  url('/images/volunteer.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
  }

  .fourth-container h2 p{
    position: relative;
    z-index: 99;
  }

  .fourth-container h2{
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 300;
  }

  .fourth-container p{
    font-size: 1.5rem;
  }

  .fourth-container:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(155, 96, 28, 0.72), rgba(69, 12, 12, 0.5));
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }
  

   .fourth-container{
    color: #fff;
    padding: 0 3rem;
   }

   .volunteer{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
   }

.space{
  margin-right: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
  background-color: #333;
}

.contact{
  background-color: #333;
}

.contact h2{
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
}



  

  .fifth-container{
    color: #fff;
    /* background: linear-gradient(rgba(155, 96, 28, 0.72), rgba(69, 12, 12, 0.62)); */
    background-color: #333;
  }


  .col-md-5 h2.text-right {
    text-align: right;
  }

  .col-md-8 p.text-right{
    text-align: right;
  }

  #imageCarousel {
    display: flex;
    align-items: center; 
    min-height: 100%; 
  }

  .new{
   margin-top: 8rem;
  }

  .social-icon i:hover {
   background: linear-gradient(rgba(155, 96, 28, 0.72), rgba(69, 12, 12, 0.5));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .list-unstyled a{
    color: #fff;
    text-decoration: none;
    list-style: none;
    
  }

  .list-unstyled a:hover{
        background: linear-gradient(rgba(155, 96, 28, 0.72), rgba(69, 12, 12, 0.5));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  .sixth-container{
    position: relative;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }

  .sixth-container h2 p{
    position: relative;
    z-index: 99;
  }

  .sixth-container h2{
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 300;
  }

  .sixth-container p{
  font-size: 1.5rem;
  }

  .sixth-container:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(155, 96, 28, 0.72), rgba(69, 12, 12, 0.5)),  url('/images/donate.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
  }

  .last{
    color: #fff;
    background-color: #333;
  }
  


  /* About Page */



  .secpage{
    padding-left: 0;
  }


  .secpage a{
    font-weight: 500;
    text-decoration: none;
    color: #333;
  }

  .secpage a:hover{
     background: linear-gradient(rgba(155, 96, 28, 0.72), rgba(69, 12, 12, 0.5));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }


  .about-container{
    color: #333;
    background-color: #fff;
  }

  .founderImg{
    min-height: 200px;
    width: 200px;
  }


img.corimg{
  height: 500px;
  }

  .form-img{
    display: block;
  }

  .name{
   text-align: center; 
  }

  .gallery{
    width: 50%;
  }