
/* Desktop screen */
@media (max-width: 1240px) {
    .fifth-content .col-md-7,
    .fifth-content .col-md-5 {
      width: 100%;
      padding: 0;
    }
  
    .fifth-content .col-md-5 {
      margin-top: 5rem;
    }

    .fifth-container{
        padding: 5rem 1rem;
    }
  }


 

  

/* Tab Screen */
  @media (max-width: 991px) {
      .navbar-collapse {
        padding-left: 3rem;
      }

      h1{
        font-size: 3.5rem;
        font-weight: 600;
        line-height: 1.2;
        font-family:  'Be Vietnam Pro', sans-serif;
    }

    .second-container{
      padding: 0 .8rem;
    }

    .third-container{
      padding: 0 .8rem;
    }


.contact .row>* {
    width: 80%;
  }

  .contact-row{
    justify-content: center;
    align-items: center;
  }

  .form-img{
    display: none;
  }

  .name{
   text-align: left; 
  }

  
  .gallery{
    width: 100%;
  }

  .last{
    padding-left: 1rem;
    padding-right: 1rem;

  }
  
}




/* mobile Screen */
  @media (max-width: 770px) {
    h1{
      font-size: 2.1rem;
      font-weight: 600;
      line-height: 1.2;
  }

 .homepage p{
font-size: 1rem;
  }

  .third-container h2{
    padding-top: 15rem;
    padding-bottom: 4rem;
  }


  .fourth{
    padding: 0 1.5rem;
  }

    .reverse {
      flex: 0 0 100%;
      max-width: 100%;
      order: 2;
    }
  
    .reverse:last-child {
      order: 1;
    }

    .p-down{
        padding-bottom: 2rem;
        padding-top: 3rem;
      }

      .logo{
        max-width: 120px; 
        max-height: 90px;
      }

      .contact .row>* {
        width: 80%;
      }

      .footer{
        text-align: center;
      }

      form{
        padding: 20px;
      }

      .about-container{
        padding: 0 15px;
      }


      
  .gallery{
    width: 100%;
  }

  .secpage {
    padding: 0 0.8rem;
  }

  }

