.dropdown-menu-black {
  background: linear-gradient(rgba(155, 96, 28, 0.72), rgba(69, 12, 12, 0.5));
  color: white;
  border: none;
  display: none;
}

.nav-item.dropdown:hover .dropdown-menu-black{
  display: block;
}

.dropdown-menu-black:hover{
  display: block;
  transition: all 300ms ease-in;
}

.nav-item a{
  color: #fff;
}

.nav-item a:hover{
  color: #333;
  transition: all 200ms ease;
}



.dropdown-menu-black a .dropdown-item {
  color: #333;
  transition: none; 
}

.dropdown-item:hover{
  background-color: transparent;
  font-weight: 400;
  transition: all 200ms ease;
}


.dropdown-menu-black a .dropdown-item:hover {
  background-color: #333; 
}

.SecNav{
  background: linear-gradient(rgba(155, 96, 28, 0.72), rgba(69, 12, 12, 0.5));
}

.logo{
  max-width: 170px; 
  max-height: 90px;
  cursor: pointer;
}

.gradient-background {
  background: linear-gradient(rgba(155, 96, 28, 0.72), rgba(69, 12, 12, 0.5));
  transition: background 0.3s ease-in-out;
  backdrop-filter: blur(5px); 
  position: fixed;
  width: 100%;
  z-index: 99;
}
